{
  "plugins": ["react", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".ts", ".tsx"]
      }
    ],
    "space-before-function-paren": "off",
    "react/jsx-indent": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "none",
        "singleQuote": true,
        "jsxSingleQuote": true,
        "tabWidth": 2,
        "printWidth": 100,
        "semi": false,
        "arrowParens": "avoid",
        "endOfLine": "auto"
      }
    ]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "parser": "babel-eslint",
  "extends": [
    "prettier",
    "standard",
    "standard-react",
    "prettier/react",
    "prettier/standard",
    "plugin:json/recommended",
    "plugin:react/recommended"
  ]
}
